@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-item a {
    margin-right: 20px;
}

.title-header {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 1rem 0;
}

section {
    padding: 3rem 0;
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3490f0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2271ff; 
  }

  /* End custom scroolbar */