@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
}

h2.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  h2.section-heading {
    font-size: 2.2rem;
  }
}

.masterhead {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url("../img/pattern-social-r.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  transition: 0.5s ease-in-out;
}

.our-services {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url("../img/pattern-social-midia-r.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-header {
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 5px 30px;
}

.btn-login {
  border-radius: 10px;
}

.nav-item a {
  margin-right: 20px;
}

.title-header {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .content-header {
    text-align: center;
  }

  .title-header {
    font-size: 3rem;
  }
}

section {
  padding: 3rem 0;
}

.services {
  position: relative;
}

.card {
  border-radius: 30px;
  border: none;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: none;
}

.footer {
  width: 100%;
  background-color: #2271ff;
  padding: 4rem 0;
}

.footer span,
h3 {
  color: #fff;
}

.footer h3 {
  border-left: 5px solid #fff;
  padding-left: 10px;
}

.footer span {
  font-size: 14px;
  padding-bottom: 10px;
}

.footer .copyright {
  font-size: 1rem;
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3490f0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2271ff;
}

/* End custom scroolbar */

/* Social icons animated */
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icons {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
}

.icons a {
  color: white;
}

.icons:hover {
  transform: scale(1.5);
}

.icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #b52b65, #ed6663);
  z-index: -1;
  border-radius: 50%;
  transform: translate(100%, 100%);
  transition: all 0.4s;
}

.icons:hover::before {
  transform: translate(0);
  animation: animate 0.4s linear;
}

@keyframes animate {
  0%,
  100% {
    width: 100%;
    height: 100%;
  }

  50% {
    width: 50%;
    height: 50%;
  }
}

/*  End icons animated  */

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.5s ease-in-out;
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #007bff;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #007bff !important;
}

@media (max-width: 600px) {
  .img-header {
    width: 230px;
  }

  .content-header p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: #000;
  }

  #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: #000;
    padding: 0 1rem;
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }

  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #007bff;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
  }
}

/* Timeline */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 90px;
  height: 90px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #007bff;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

#headingOne,
#headingTwo,
#headingThree,
#headingFour {
  border-radius: 30px;
}

#headingOne,
#headingThree {
  margin-bottom: 1rem;
}

.collapse {
  background-color: transparent;
  border: none;
}
